html {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

body {
  margin: 0;
}


/* TOP BAR */
.topnav {
  background-color: #0A1128;
  color: white;
  padding: 15px;
}


/* CONTENT */
.content {
  padding: 40px;
}


/* GRID */
.card-grid {
  max-width: 900px;
  margin: auto;
  margin-bottom: 30px;

  display: grid;
  grid-gap: 2rem;

  grid-template-columns:
    repeat(auto-fit, minmax(250px,1fr));
}


/* CARD */
.card {
  background: white;

  padding: 20px;

  box-shadow:
    2px 2px 12px rgba(0,0,0,0.2);

  border-radius: 10px;
}


/* TEXT */
.reading {
  font-size: 2rem;
  font-weight: bold;
}

.gray-label {
  color: gray;
}


/* ===== BUTTON STYLE ===== */

button {
  border: none;
  border-radius: 8px;
  padding: 10px 18px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  transition: 0.2s;
}

/* Connect */
.connectButton {
  background: #28a745;
}
.connectButton:hover {
  background: #218838;
}

/* Disconnect */
.disconnectButton {
  background: #dc3545;
}
.disconnectButton:hover {
  background: #c82333;
}

/* LED ON */
.ledOn {
  background: #17a2b8;
}
.ledOn:hover {
  background: #138496;
}

/* LED OFF */
.ledOff {
  background: #6c757d;
}
.ledOff:hover {
  background: #5a6268;
}

/* Save */
.saveBtn {
  background: #fd7e14;
}
.saveBtn:hover {
  background: #e96b0c;
}

/* Download */
.downloadBtn {
  background: #6f42c1;
}
.downloadBtn:hover {
  background: #59339d;
}
