html {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

body {
  margin: 0;
}


/* TOP BAR */
.topnav {
  background-color: #0A1128;
  color: white;
  padding: 15px;
}


/* CONTENT */
.content {
  padding: 40px;
}


/* GRID */
.card-grid {
  max-width: 900px;
  margin: auto;
  margin-bottom: 30px;

  display: grid;
  grid-gap: 2rem;

  grid-template-columns:
    repeat(auto-fit, minmax(250px,1fr));
}


/* CARD */
.card {
  background: white;

  padding: 20px;

  box-shadow:
    2px 2px 12px rgba(0,0,0,0.2);

  border-radius: 10px;
}


/* TEXT */
.reading {
  font-size: 2rem;
  font-weight: bold;
}

.gray-label {
  color: gray;
}


/* BUTTON */
button {
  color: white;

  padding: 12px 20px;
  margin: 5px;

  border: none;
  border-radius: 5px;

  cursor: pointer;
  font-size: 1rem;
}


/* BUTTON COLORS */
.connectButton {
  background-color: #24af37;
}

.disconnectButton {
  background-color: #d13a30;
}

remove ununused file
